version: '3.7'
services:
  default:
    build:
      context: .
      target: default
      args:
        - RUBY_VERSION=${RUBY_VERSION}
        - ROCKY_VERSION=${ROCKY_VERSION}
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    image: ruby:${RUBY_VERSION}-default

  jemalloc:
    build:
      context: .
      target: jemalloc
      args:
        - RUBY_VERSION=${RUBY_VERSION}
        - ROCKY_VERSION=${ROCKY_VERSION}
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    image: ruby:${RUBY_VERSION}-jemalloc

  nodejs:
    build:
      context: .
      target: nodejs
      args:
        - RUBY_VERSION=${RUBY_VERSION}
        - ROCKY_VERSION=${ROCKY_VERSION}
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    image: ruby:${RUBY_VERSION}-nodejs

  nodejs-jemalloc:
    build:
      context: .
      target: nodejs-jemalloc
      args:
        - RUBY_VERSION=${RUBY_VERSION}
        - ROCKY_VERSION=${ROCKY_VERSION}
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    image: ruby:${RUBY_VERSION}-nodejs-jemalloc
